{{extend 'layout_master.html'}}

{{f=form.custom.widget}}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{=T('TITLE_USER_FORM')}}</h2>
        <ol class="breadcrumb">
            <li>{{=T('Home')}}</li>
            <li>{{=T('Administrator')}}</li>
            <li>
                <a href="/eos/users/index">{{=T('User list')}}</a>
            </li>
            <li>
                <a href="/eos/users/form/{{=usr_id}}">{{=usr_name}}</a>
            </li>
            <li class="active"><strong>{{=T('Stations')}}</strong></li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br>
<div class="wrapper wrapper-content">
    <div class="row form-group">
        <div class="mail-box-header">
            <div class="pull-right tooltip-demo">

            </div>
            <h2>{{=T('List stations manager')}}</h2>
        </div>
        <div class="mail-box">
            <div class="mail-body">
                <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" id="txtSearchForArea" class="form-control" placeholder="{{=T('Search')}}">
                        <span class="input-group-btn">
                            <button type="button" id="btnSearchForArea" class="btn btn-primary">{{=T('Go!')}}</button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-4">
                        <select class="form-control" name="type" id="type">
                        <option value="">{{=T('-- Select station type --')}}</option>
                        {{for item in common.get_station_types():}}
                        <option value="{{=item['value']}}">{{=T(item['name'])}}</option>
                        {{pass}}
                    </select>
                    </div>
                    <div class="col-sm-8 text-right">
                        <div class="input-group">
                        <input type="text" style = "height:30px" id="txtSearchForStation" class="form-control" placeholder="{{=T('Search')}}">
                        <span class="input-group-btn">
                            <button type="button" style = "height:30px;padding: 0px 5px 0px 5px;" class="btn btn-primary btnCustomSearch" ><i class="fa fa-search"></i> {{=T('Go!')}}</button>
                        </span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-6">
                        <table id='custom_datatable_0' class='table table-striped table-bordered table-hover table-responsive'
                            data-url="{{=URL('users', 'call/json/get_list_areas', vars={'user_id':usr_id})}}">
                            <thead>
                                <tr>
                                    <th>{{=T('#')}}</th>
                                    <th>{{=T('Area code')}}</th>
                                    <th>{{=T('Area name')}}</th>
                                    <th>{{=T('Order')}}</th>
                                    <th><input type='checkbox' group='0' class='select_all' /></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div class='text-right'>
                            {{if auth.has_permission('create', 'areas'):}}
                            <a id='btnRemoveLinkIndicatorFormStation' class='btn btn-primary' type='button'
                               href='javascript:void(0);'
                               data-url="{{=URL('call/json/add_group_areas', vars={'user_id':usr_id})}}"
                               data-iTable="0"
                               data-confirm="{{=T('MSG_CONFIRM_SAVE')}}"
                               onclick="app.executeFunction(this);">
                                <i class="fa fa-save"></i> {{=T('BTN_SAVE')}}
                            </a>
                            {{pass}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <table id='custom_datatable_1' class='table table-striped table-bordered table-hover table-responsive'
                            data-url="{{=URL('users', 'call/json/get_list_stations', vars={'user_id':usr_id})}}">
                            <thead>
                            <tr>
                                <th>{{=T('LBL_STT')}}</th>
                                <th>{{=T('Station')}}</th>
                                <th>{{=T('Address')}}</th>
                                <th><input type='checkbox' group="0" class='select_all' id='chk_all_0'/></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div class='text-right'>
                        <a id='btnRemoveLinkStationFromArea' class='btn btn-primary' type='button' href='javascript:void(0);'
                            data-url="{{=URL('call/json/delete_stations', vars={'user_id':usr_id})}}"
                            data-iTable="1"
                            data-confirm="{{=T('MSG_CONFIRM_SAVE')}}"
                            onclick="app.executeFunction(this);">
                            <i class="fa fa-save fa-white"></i> {{=T('BTN_SAVE')}}
                        </a>

                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{{=form.custom.end}}

<input type="hidden" id="hfError" value="{{=msg}}">
<input type="hidden" id="hfdRecordId" value="{{=form.record.id if form.record else ''}}">

{{ block js }}
<script type="text/javascript" src="{{=URL('static', 'js/DataTables/custom_datatables_v1.js')}}"></script>
{{ block }}

