{{extend 'layout_master.html'}}

{{block head}}
<!-- CSS -->
{{end}}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{=T('CHANGE_PWD')}}</h2>
        <ol class="breadcrumb">
            <li>{{=T('Home')}}</li>
            <li>{{=T('Administrator')}}</li>
            <li class="active"><strong>{{=T('Change password')}}</strong></li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br>
<div class="row">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row">
                <br>
                <div class="col-md-4 col-md-offset-4 change_password">
                    {{f = form.custom.widget}}
                    {{=form.custom.begin}}
                        <div class="row">
                            <div class="form-group error-wrapper">
                                {{=f.old_password}}
                            </div>
                            <div class="form-group error-wrapper">
                                {{=f.new_password}}
                            </div>
                            <div class="form-group error-wrapper">
                                {{=f.new_password2}}
                            </div>
                            <div class="form-group text-right">
                                <input type="submit" class="btn btn-primary btn-block btn-auth" value="{{=T('CHANGE_PWD')}}">
                            </div>
                        </div>
                        {{#val.validation_summary(form)}}
                        {{#=form.hidden_fields()}}
                        {{#val.server_errors(form)}}
                    {{=form.custom.end}}
                </div>
            </div>
        </div>
    </div>
</div>
