{{extend 'layout_master.html'}}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{=T('RESET PASSWORD')}}</h2>
        <ol class="breadcrumb">
            <li>{{=T('Home')}}</li>
            <li>{{=T('Administrator')}}</li>
            <li class="active"><strong>{{=T('Reset password')}}</strong></li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br>
<div class="row">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <br>
                    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="#">
                        {{val.validation_summary(form)}}
                        <div class="form-group error-wrapper">
                            <div class="input-group">
                                <input type="text" name="username" value="{{=(request.vars.username if request.vars.username else "")}}" class="form-control" placeholder="{{=T('Enter user name')}}" autofocus>
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            </div>
                        </div>
                        <div class="form-group error-wrapper">
                            <div class="input-group">
                                <input type="password" name="password" value="{{=(request.vars.password if request.vars.password else "")}}" class="form-control" placeholder="{{=T('Enter new password')}}">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            </div>
                        </div>
                        <div class="form-group error-wrapper">
                            <div class="input-group">
                                <input type="password" name="password_again" value="{{=(request.vars.password_again if request.vars.password_again else "")}}" class="form-control" placeholder="{{=T('Confirm new password')}}">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <button class="btn btn-primary btn-block btn-auth" type="submit">{{=T('Reset password')}}</button>
                        </div>
                        {{=form.hidden_fields()}}
                        {{val.server_errors(form)}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
