#cbbIndicatorId_chosen{
    width: 100%!important;
}

#txtQcvnTypeCode_chosen{
    width: 100%!important;
}

#txtExpressionQcvnIndicator_chosen {
    width: 100% !important;
}

#txtHaveFactorIndicator_chosen {
    width: 100% !important;
}