{{extend 'layout_master.html'}}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{=T('FAQ')}}</h2>
        <ol class="breadcrumb">
            <li>{{=T('Home')}}</li>
            <li>{{=T('Master data')}}</li>
            <li class="active"><strong>{{=T('Faq')}}</strong></li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br>
<div class="row">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{{=T('FAQ')}}</h5>
            <div class="ibox-tools">
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </div>
        </div>
        <div class="ibox-content">
        {{f = frm.custom.widget}}
        {{=frm.custom.begin}}
            <div class='row form-group'>
                <label class='col-sm-6 col-md-2 col-lg-2' for='eip_faq_title'>{{=T('TitleFaq')}}</label>
                <div class='col-sm-6 col-md-6 col-lg-12'>{{=f.title}}</div>
            </div>
            <div class='row form-group'>
                <label class='col-sm-6 col-md-2 col-lg-2' for='eip_faq_order_no'>{{=T('OrderFAQ')}}</label>
                <div class='col-sm-6 col-md-6 col-lg-12'>{{=f.order_no}}</div>
            </div>
            <div class='row form-group'>
                <label class='col-sm-6 col-md-2 col-lg-2' for='eip_faq_content'>{{=T('Content')}}</label>
            </div>
            <div class='row form-group'>
                <div class='col-sm-6 col-md-4 col-lg-12'>{{=f.content}}</div>
            </div>
          <div class="hr-line-dashed"></div>
            <div class='text-right'>
                <a id='btnSave' class='btn btn-primary '><i class="fa fa-save" ></i> {{=T('BTN_SAVE')}}</a>
            </div>
        {{=frm.custom.end}}
        </div>
    </div>
</div>
