<link href="{{=URL('static', 'css/modules/footer.css')}}" rel="stylesheet">

{{#=LOAD('load_import', 'menu')}}

<div class="footer-bottom">
    <div class="col-sm-6" style="margin-top: -20px;">
        <a href="{{=URL('default', 'index')}}">
            <img alt="" style="height: 30px;" src="{{=URL('static', 'images/logo-bottom.png')}}"></img>
        </a>
        <h3><b>Address:</b> 30 Trung Liet - Dong Da - Ha Noi</h3>
        <h3><b>Tel:</b> 04.35375548 - 04.35375549 Fax: 04.38572782</h3>
    </div>
    <div class="col-sm-6">
        <h3><b>Copyright by</b> abc company</h3>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
