{{extend 'layout_master.html'}}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{=T('STATION ADJUSTMENTS LIST')}}</h2>
        <ol class="breadcrumb">
            <li><a >{{=T('Home')}}</a></li>
            <li><a>{{=T('Station adjustment')}}</a></li>
            <li class="active"><strong>{{=T('Adjustments list')}}</strong></li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br>
<div class="row">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row" style="margin-bottom: 3px">
                <div class="col-sm-4">
                    <select class="form-control" name="adjustment_type" id="dt0_adjustment_type" data-forDT="0">
                        <option value="">{{=T('-- Select type --')}}</option>
                        {{for key, item in const.ADJUSTMENT_TYPE.iteritems():}}
                        <option value='{{=item['value']}}'>{{=T(item['name'])}}</option>
                        {{pass}}
                    </select>
                </div>
                <div class="col-sm-4">
                    <select class="form-control m-b" name="status" id="dt0_status" data-forDT="0">
                        <option value="">{{=T('-- Select status --')}}</option>
                        {{for key, item in const.ADJUSTMENT_STATUS.iteritems():}}
                        <option value='{{=item['value']}}'>{{=T(item['name'])}}</option>
                        {{pass}}
                    </select>
                </div>
                <div class="col-sm-4">
                    <select class="form-control m-b" name="station_id" id="dt0_station_id" data-forDT="0">
                        <option value="">{{=T('-- Select station --')}}</option>
                        {{for station in stations:}}
                        <option value='{{=str(station.id)}}'>{{=station.station_name}}</option>
                        {{pass}}
                    </select>
                </div>
            </div>
            <div class="row" style="margin-bottom: 3px">
                <div class="col-sm-2">
                    <input type="text" id="dt0_from_date" name="from_date" data-forDT="0" placeholder="{{=T('From date')}}" class="date form-control"/>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="dt0_to_date" name="to_date" data-forDT="0" placeholder="{{=T('To date')}}" class="date form-control"/>
                </div>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" id="dt0_sometext" data-forDT="0" name="sometext" placeholder="{{=T('Search')}}">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" id="btn_search">{{=T('Go!')}}</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 3px">
                <div class="col-sm-4">
                    <select class="form-control m-b" name="is_process" id="dt0_is_process" data-forDT="0">
                        <option value="">-- {{=T('IS_Process')}} --</option>
                        <option value='1'>{{=T('IS_Process_done')}}</option>
                        <option value='0'>{{=T('IS_Process_waiting')}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <table id='custom_datatable_0' class='table table-striped table-bordered table-hover table-responsive'
                data-url="{{=URL('call/json/get_list_adjustments')}}">
                <thead>
                    <tr>
                        <th>{{=T('#')}}</th>
                        <th>{{=T('Adjustment_title')}}</th>
                        <th>{{=T('Station')}}</th>
                        <th>{{=T('Create by')}}</th>
                        <th>{{=T('From date')}}</th>
                        <th>{{=T('To date')}}</th>
                        <th>{{=T('Adjustment type')}}</th>
                        <th>{{=T('Status')}}</th>
                        <th>{{=T('Censorship')}}</th>
                        <th>{{=T('IS_Process')}}</th>
                        <th><input type='checkbox' class='select_all' id='chk_all_0' /></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="hr-line-dashed"></div>
            <div class='text-right'>
                {{if auth.has_permission('create', 'data_adjust'):}}
                <a class='btn btn-primary hide' type='button' href="{{=URL('form')}}"><i class="fa fa-plus"></i> {{=T('BTN_CREATE')}}</a>
                {{pass}}
                {{if auth.has_permission('delete', 'data_adjust'):}}
                <a id='btnDelete' class='btn btn-primary btnDisabled' type='button' href='javascript:void(0);'
                    data-url="{{=URL('call/json/del_records/adjustments')}}"
                    data-iTable="0"
                    data-confirm="{{=T('MSG_CONFIRM_DELETE')}}"
                    onclick="app.executeFunction(this);">
                    <i class="fa fa-trash fa-white"></i> {{=T('BTN_DELETE')}}
                </a>
                {{pass}}
                <a class='btn btn-primary' type='button' href='javascript: window.history.back();'><i class="fa fa-undo fa-white"></i> {{=T('BTN_BACK')}}</a>
            </div>
        </div>
    </div>
</div>

{{block js}}
    <script type="text/javascript" src="{{=URL('static', 'js/DataTables/custom_datatables.js?v=1')}}"></script>
{{end}}