<style>
    .chosen-container-single {width:100%}
</style>

<!-- The Modal -->
<div class="modal">
    <div class="modal-content modal-lg">
        <div class="modal-header">
            <h4>
                <strong>{{=T('Censorship')}}</strong>
                <span class="close">&times;</span>
            </h4>
        </div>
        <div class="modal-body">
			{{f = frm.custom.widget}}
			<form enctype="multipart/form-data" id="frmPopupIssueAdjust" method="POST" action="{{=URL('call/json/ajax_issue_adjustment')}}">
                <div class='row form-group'>
                    <label class='col-sm-6 col-md-2 col-lg-2'>{{=T('Station name')}}</label>
                    <div class='col-sm-6 col-md-4 col-lg-4'>{{=f.station_name}}</div>
                </div>
                <div class='row form-group'>
                    <label class='col-sm-6 col-md-2 col-lg-2'>{{=T('Title')}}</label>
                    <div class='col-sm-6 col-md-10 col-lg-10'>{{=f.title}}</div>
                </div>
                <div class='row form-group'>
                    <label class='col-sm-6 col-md-2 col-lg-2'>{{=T('LBL_NOTE')}}</label>
                    <div class='col-sm-6 col-md-10 col-lg-10'>{{=f.content}}</div>
                </div>
                <div class='row form-group'>
                    <label class='col-sm-6 col-md-2 col-lg-2'>{{=T('Status')}}</label>
                    <div class='col-sm-6 col-md-10 col-lg-10'>

                       <!-- <select class="form-control m-b" name="status" id="f.status" >
                        {{selected=''}}
                        {{for item in list_status_edit:}}
                        {{if str(item['value']) == str(current_status) :}}
                        {{selected='selected'}}
                        {{pass}}
                        <option value="{{=item['value']}}" {{=selected}}>{{=T(item['name'])}}</option>
                        {{selected=''}}
                        {{pass}}
                        </select>
-->

                        {{for item in list_status_edit:}}
                        <input type="radio" value="{{=item['value']}}" name="status">{{=T(item['name'])}}</input>
                        {{pass}}

                    </div>
                </div>
                <div class='hide row form-group'>
                    <input type="hidden" value="{{=frm.record.id}}" name="id" />
                    <div class='col-sm-6 col-md-10 col-lg-10'>{{=f.station_id}}</div>
                </div>
			</form>
            <p class="errors text-danger"></p>
        </div>
        <div class="modal-footer">
            <div class="text-right">
                <a href="javascript: void(0);" class="btn btn btn-primary" id="btn_Save"><i class="fa fa-send"></i> {{=T('Execute')}}</a>
                <a href="javascript: void(0);" class="hide btn btn btn-primary btnSave"><i class="fa fa-send"></i> {{=T('Execute')}}</a>
                <a href="javascript: void(0);" class="btn btn-default btnCancel"><i class="fa fa-undo"></i> {{=T('Cancel')}}</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{=URL('static', 'views/' + response.view.replace('.html', '.js'))}}"></script>