{{extend 'layout_master.html'}}

{{block head}}
<!-- CSS -->
{{end}}

    <form class="form-signin" enctype="multipart/form-data" method="post" action="#">
        <h2 class="form-signin-heading">{{=T('LBL_CHANGE_PASSWORD')}}</h2>
        {{val.validation_summary(form)}}
        <div class="form-group error-wrapper">
            <input type="password" name="old_password" value="{{=(request.vars.old_password if request.vars.old_password else "")}}" class="form-control" placeholder="{{=T('LBL_PASSWORD')}}" autofocus>
        </div>
        <div class="form-group error-wrapper">
            <input type="password" name="password" value="{{=(request.vars.password if request.vars.password else "")}}" class="form-control" placeholder="{{=T('LBL_NEW_PASSWORD')}}">
        </div>
        <div class="form-group error-wrapper">
            <input type="password" name="password_again" value="{{=(request.vars.password_again if request.vars.password_again else "")}}" class="form-control" placeholder="{{=T('LBL_PASSWORD_RETYPE')}}">
        </div>
        <button class="btn btn-lg btn-primary " type="submit">{{=T('BTN_CHANGE_PWD')}}</button>
        {{=form.hidden_fields()}}
        {{val.server_errors(form)}}
    </form>

{{block body_end}}
<script>
    $(document).ready(function() {
        jqval.validateForm("form",
            {
                old_password: {
                    required: true,
                    rangelength: [1, 64],
                    server: true
                },
                password: {
                    required: true,
                    rangelength: [1, 64],
                    server: true
                },
                password_again: {
                    required: true,
                    rangelength: [1, 64],
                    matchpassword: true,
                    server: true
                }
            }, 
            {
                old_password: {
                    required: "{{=T('MSG_ERR_REQUIRED')}}",
                    rangelength: "Ð? dài m?t kh?u 1 - 64",
                },
                password: {
                    required: "{{=T('MSG_ERR_REQUIRED')}}",
                    rangelength: "Ð? dài m?t kh?u 1 - 64",
                },
                password_again: {
                    required: "{{=T('MSG_ERR_REQUIRED')}}",
                    rangelength: "Ð? dài m?t kh?u 1 - 64",
                    matchpassword: "{{=T('MSG_ERR_UNMATCHED_PASSWORD')}}",
                }
            });
        jqval.enableServerErrors("form");
    });
</script>
{{end}}
