<!-- The Modal -->
<div class="modal">
    <div class="modal-content modal-lg">
        <div class="modal-header">
            <h4>
                <strong>{{=T('Update alarm status')}}</strong>
                <span class="close">&times;</span>
            </h4>
        </div>
        <div class="modal-body">
			{{f = frm.custom.widget}}
			<form enctype="multipart/form-data" id="frmPopupUpdateAlarmLogs" method="POST" action="{{=URL('call/json/ajax_save_update_status')}}">
                <div class='hide row form-group'>
                    <!-- <div class='col-sm-6 col-md-4 col-lg-4'>{{=f.station_id}}</div> -->
                    <!-- <div class='col-sm-6 col-md-4 col-lg-4'>{{=f.alarm_datetime}}</div> -->
                    <!-- <div class='col-sm-6 col-md-4 col-lg-4'>{{=f.alarm_level}}</div> -->
                    <!-- <div class='col-sm-6 col-md-4 col-lg-4'>{{=f.alarm_type}}</div> -->
                    <!-- <div class='col-sm-6 col-md-4 col-lg-4'>{{=f.alarm_to}}</div> -->
                    <input type="hidden" value="{{=frm.record.id}}" name="id" />
                </div>
                <div class='row form-group'>
                    <label class='col-sm-6 col-md-2 col-lg-2' for='alarm_logs_series'>{{=T('Station name')}}</label>
                    <div class='col-sm-6 col-md-4 col-lg-4'>{{=f.station_name}}</div>
                </div>
                <div class='row form-group'>
                    <label class='col-sm-6 col-md-2 col-lg-2' for='alarm_logs_description'>{{=T('Content')}}</label>
                    <div class='col-sm-6 col-md-10 col-lg-10'>{{=f.content}}</div>
                </div>
                <div class='row form-group'>
                    <label class='col-sm-6 col-md-2 col-lg-2' for='alarm_logs_status'>{{=T('Status')}}</label>
                    <div class='col-sm-6 col-md-4 col-lg-4'>{{=f.status}}</div>
                </div>
			</form>
            <p class="errors text-danger"></p>
        </div>
        <div class="modal-footer">
            <div class="text-right">
                <a href="javascript: void(0);" class="btn btn-primary btnSave"><i class="fa fa-save"></i> {{=T('Save')}}</a>
                <a href="javascript: void(0);" class="btn btn-primary btnCancel"><i class="fa fa-times"></i> {{=T('Close')}}</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{=URL('static', 'views/' + response.view.replace('.html', '.js'))}}"></script>