
#myCarousel{
	height: 430px;
}

[id*='tramNuocThai']{
	width: 100%;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
.left.carousel-control, .right.carousel-control{
	background: #fff;
    color: #999;
}
.left.carousel-control span, .right.carousel-control span{
	font-size: 20px;
	font-weight: normal;
}
.right.carousel-control{
}
.my-panel .carousel-indicators{
	bottom: 0px;
    margin: 0px;
    width: 50%;
    left: 25%;
    text-align: center;
}
.my-panel .carousel-indicators li{
    background: #bbb;
}
.my-panel .carousel-indicators li:hover, .my-panel .carousel-indicators li.active{
    background: green;
}
#frmPopupAdjust #custom_datatable_1 td,
#frmPopupAdjust #custom_datatable_2 td{
    padding: 3px;
    vertical-align: middle;
}
#frmPopupAdjust .dataTables_wrapper{
    padding: 0px;
}
.adjust-control{
    width: 80px!important;
    padding-left: 3px;
    padding-right: 3px;
}