{{extend 'layout_master.html'}}
{{from applications.eos.modules import const}}

<div class="row wrapper border-bottom white-bg page-heading animated fadeIn ">
    <div class="col-lg-10">
        <h2>{{=T('STATIONS LIST')}}</h2>
        <ol class="breadcrumb">
            <li><a>{{=T('Home')}}</a></li>
            <li><a>{{=T('Master data')}}</a></li>
            <li class="active"><strong>{{=T('Stations list')}}</strong></li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br>
<div class="row animated fadeIn ">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-sm-3">
                    <select class="form-control" name="type" id="type">
                        <option value="">{{=T('-- Select station type --')}}</option>
                        {{for item in common.get_station_types():}}
                        <option value="{{=item['value']}}">{{=T(item['name'])}}</option>
                        {{pass}}
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" name="province_id" id="province_id">
                        <option value="">{{=T('-- Select province --')}}</option>
                        {{for item in provinces:}}
                        <option value="{{=item.id}}">{{=item.province_name}}</option>
                        {{pass}}
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" name="ftp_connection_status" id="ftp_connection_status">
                        <option value="">{{=T('-- Select ftp status --')}}</option>
                        <option value=true>{{=T('Connect')}}</option>
                        <option value=false>{{=T('Not connect')}}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" name="status" id="status">
                        <option value="">{{=T('-- Select status --')}}</option>
                        {{ from applications.eos.modules import const }}
                        {{for key, item in const.STATION_STATUS.iteritems():}}
                        {{if item['value'] not in [1, 2]:}}
                        <option value="{{=item['value']}}">{{=T(item['name'])}}</option>
                        {{pass}}
                        {{pass}}
                    </select>
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="sometext" name='sometext'
                               placeholder="{{=T('Search')}}">
                        <span class="input-group-btn"> 
                            <button type="button" class="btn btn-primary" id="btn_search">{{=T('Go!')}}</button> 
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <select class="form-control" name="using_status" id="using_status">
                        <option value="">{{=T('-- Select using status --')}}</option>
                        {{ from applications.eos.modules import const }}
                        {{for key, item in const.STATION_USING_STATUS.iteritems():}}
                        <option value="{{=item['value']}}">{{=T(item['name'])}}</option>
                        {{pass}}
                    </select>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <table id='custom_datatable_0' class='table table-striped table-bordered table-hover table-responsive'
                   data-url="{{=URL('stations', 'call/json/get_list_stations')}}">
                <thead>
                <tr>
                    <th onclick="sortStation(0)" style="cursor: grabbing;">{{=T('LBL_STT')}}</th>
                    <th id="sorts" sort="True" onclick="sortStation(1)" style="cursor: grabbing;">
                        {{=T('LBL_STATION_NAME')}}
                    </th>
                    <th>{{=T('LBL_STATUS')}}</th>
                    <th>{{=T('LBL_USING_STATUS')}}</th>
                    <th>{{=T('LBL_FTP_STATUS')}}</th>
                    <th>{{=T('Station type')}}</th>
                    <th>{{=T('LBL_PROVINCE')}}</th>
                    <th>{{=T('LBL_ADDRESS')}}</th>
                    <th>{{=T('Area')}}</th>
                    <th>{{=T('Contact Info')}}</th>
                    <th>{{=T('Phone')}}</th>
                    <th>{{=T('Sync Status')}}</th>
                    <th>{{=T('Order')}}</th>
                    <th>{{=T('FTP')}}</th>
                    <th>{{=T('Edit')}}</th>
                    <th><input type='checkbox' group="0" class='select_all' id='chk_all_0'/></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="hr-line-dashed"></div>
            <div class='text-right'>
                {{if auth.has_permission('create', 'stations'):}}
                <a class='btn btn-primary' type='button' href="{{=URL('form')}}"><i class="fa fa-plus"></i>
                    {{=T('BTN_CREATE')}}</a>
                {{pass}}
                {{if auth.has_permission('delete', 'stations'):}}
                <a id='btnDelete' class='btn btn-primary btnDisabled' type='button' href='javascript:void(0);'
                   data-url="{{=URL('call/json/del_stations')}}"
                   data-iTable="0"
                   data-confirm="{{=T('MSG_CONFIRM_DELETE')}}"
                   onclick="app.executeFunction(this);">
                    <i class="fa fa-trash fa-white"></i> {{=T('BTN_DELETE')}}
                </a>
                {{pass}}
                {{from applications.eos.common import my_const}}
                {{if os.getenv(my_const.APP_SIDE) == my_const.APP_SIDE_LOCAL_DP and auth.has_permission('view', 'stations'):}}
                <a id='btnSync' class='btn btn-primary btnDisabled' type='button' href='javascript:void(0);'
                   data-url="{{=URL('request_sync_stations','call/json/sync_created_stations_local_dp')}}"
                   data-iTable="0"
                   data-confirm="{{=T('MSG_CONFIRM_SYNC_STATIONS')}}"
                   onclick="app.executeFunction(this);">
                    <i class="fa fa-paper-plane-o fa-white"></i> {{=T('BTN_SYNC_TW')}}
                </a>
                {{pass}}
                {{if auth.has_permission('export', 'stations'):}}
                <button class='btn btn-primary btnExport' type='button' data-url='{{=URL("export_excel")}}'
                        data-params="type,province_id,sometext"
                        title="Maximum export 1 month of data">
                    <i class="fa fa-plus-square-o fa-white"></i>&nbsp;{{=T('BTN_EXPORT')}}
                </button>
                {{pass}}
                <a class='btn btn-primary' type='button' href='javascript: window.history.back();'><i
                        class="fa fa-undo fa-white"></i> {{=T('BTN_BACK')}}</a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hfError" value="{{=message}}">
{{block js}}
<script type="text/javascript" src="{{=URL('static', 'js/DataTables/custom_datatables.js?v=1')}}"></script>
{{end}}